body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: #000000;
}

a {
	background: none;
    border: none;
	color: inherit;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    opacity: 75%;
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a:hover {
    opacity: 90%;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
}

svg {
    flex-shrink: 0;
}

.reset-button {
    position: absolute;
    border: none;
    cursor: pointer;
    border-radius: 0px;
    left: 20px;
    top: 20px;
    width: 50px;
    height: 50px;
    background-color: #00AAFF;
    opacity: 60%;
}

.reset-button:hover {
    opacity: 80%;
}

.info {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 90%;
    gap: 20px;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0%);
    align-items: center;
    justify-content: center;
    background-color: #00000088;
    color: #00AAFF;
    font-family: Tahoma;
    font-weight: bold;
}

.name {
    font-size: 48px;
}

.email {
    font-size: 32px;
}

.bio {
    font-size: 20px;
}

.anchors {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.github-anchor {
    background-color: #AABBCC;
}

.linkedin-anchor {
    background-color: #0A66C2;
}

.resume-anchor {
    background-color: #2299AA;
}
